<?xml version="1.0"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>La mia prima applicazione web!</display-name>
	
	 <context-param>
        <param-name>dbURL</param-name>
        <param-value>jdbc:postgresql://127.0.0.1:5433/postgres</param-value>
    </context-param>
    <context-param>
        <param-name>dbUser</param-name>
        <param-value>postgres</param-value>
    </context-param>
    <context-param>
        <param-name>dbPassword</param-name>
        <param-value>postgres</param-value>
    </context-param>
	<servlet>
		<servlet-name>prima</servlet-name>
		<servlet-class>PrimaServlet</servlet-class>
		<init-param>
			<param-name>esempio</param-name>
			<param-value>valore di esempio</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>prima</servlet-name>
		<url-pattern>/prima</url-pattern>
	</servlet-mapping>

	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	<error-page>
        <error-code>404</error-code>
        <location>/error.html</location>
</error-page>
</web-app>